
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isSignedIn() {
      return request.auth != null;
    }

    // USER PROFILES
    match /userProfiles/{userId} {
      allow read, write: if isSignedIn() && request.auth.uid == userId;
    }

    // CHAT
    match /privateChats/mainChat {
        allow read, write: if isSignedIn();
    }
    match /privateChats/mainChat/chatMessages/{messageId} {
      allow read, list, create: if isSignedIn();
      allow update, delete: if isSignedIn() && request.resource.data.senderId == request.auth.uid;
    }

    // NOTES
    match /userProfiles/{userId}/notes/{noteId} {
      allow read, list, create, update, delete: if isSignedIn() && request.auth.uid == userId;
    }

    // IMPORTANT DATES
    match /importantDates/{dateId} {
      allow read, list, create: if isSignedIn();
      allow update, delete: if isSignedIn() && request.resource.data.authorId == request.auth.uid;
    }
    
    // STICKERS
    match /stickers/{stickerId} {
        allow read, list, create, update: if isSignedIn();
    }

    // TO-DO TASKS
    match /toDoTasks/{taskId} {
      allow read, list, create: if isSignedIn();
      allow update, delete: if isSignedIn(); // Allow both users to update/delete
    }

    // PHOTOS
    match /photos/{photoId} {
      allow create: if isSignedIn() && request.resource.data.uploader == request.auth.uid;
      allow read: if isSignedIn() && (resource.data.isPrivate == false || resource.data.uploader == request.auth.uid);
      allow list: if isSignedIn();
      allow delete: if isSignedIn() && resource.data.uploader == request.auth.uid;
    }
    
    // DISCIPLINE ACTIVITIES
    match /disciplineActivities/{activityId} {
        allow read, list, update: if isSignedIn();
        allow create: if isSignedIn() && request.resource.data.creatorId == request.auth.uid;
        allow delete: if isSignedIn() && resource.data.creatorId == request.auth.uid;
    }
  }
}
